@import '~font-awesome/css/font-awesome.css';

@font-face {
    font-family: Dimis;
    src: url("../assets/fonts/dimitri/DIMIS.TTF") format('truetype');
}

@font-face {
    font-family: Dimitri;
    src: url("../assets/fonts/dimitri/DIMITRI.TTF") format('truetype');
}

@font-face {
    font-family: Chekharda;
    src: url("../assets/fonts/Chekharda-BoldItalic.woff2") format('woff2');
}